[2018-07-23 05:32] jenniferlu717 opened #1 "Installation/Command Lines"
Just to let you know, running `make metamaps` does not work. `make install` alone does, but the executable isn't `./metamaps`, it makes the executable of `mashmap`

[2018-07-23 08:06] alegione commented on #1
I had this issue too, saw that inside the make file was 'install: mashmap' too
Otherwise, when using 'make metamaps' the error "make: *** No rule to make target 'metamaps'.  Stop." arises

[2018-07-23 11:05] AlexanderDilthey commented on #1
Sorry about this! I hadn't updated the makefile. This is fixed now!

[2018-07-23 11:05] #1 closed

[2018-07-23 13:41] RxLoutre opened #2 "Informations on output needed"
Hello !

Is it possible to have somewhere an example of an output file produced by metamaps ? Or does it already exist somwhere and I couldn't reach it ? I would like to know what does the output look like and how I could visualize it.

Thanks a lot !

Roxane

[2018-07-23 15:21] jenniferlu717 opened #3 "Error during second step"
Hi, I got the following error during the second step. I'm using the downloaded miniSeq+H database

`Outputting mappings with adjusted alignment qualities.
mashmap: src/meta/taxonomy.h:64: std::string meta::taxonomy::getFirstNonXNode(std::string): Assertion nodeID.find("x") == std::string::npos' failed.
Aborted (core dumped)`

**Command Lines:**
`mashmap mapDirectly --all -r miniSeq+H/DB.fa -q samp

[2018-07-23 15:59] AlexanderDilthey commented on #3
Hi Jennifer,
Thank you for spotting this. I've added a debug message that should reveal what's going on. Could you pull from GitHub and recompile? Alternatively you could also send me the FASTQ.

[2018-07-23 17:37] AlexanderDilthey commented on #3
The error is not fixed, but it should print additional debug information.

Can you try a complete rebuild with 'make clean' and then 'make metamaps' (the makefile error is fixed now), and then use the metamaps command instead of mashmap? It should then print the variables 'runningNodeID' and 'nodeID'.

[2018-07-23 18:18] jenniferlu717 commented on #3
It doesn't print the values unfortunately.

`EM round 30
 EM round 30, read << 60000 / 69799
        Log likelihood: -1.52751e+06
        Improvement: 0.985079
        Relative   : 0.999999
Outputting mappings with adjusted alignment qualities.
metamaps: src/meta/taxonomy.h:71: std::string meta::taxonomy::getFirstNonXNode(std::string): Assertion `nodeID.find("x") == std::string::npos' failed.
Abor

[2018-07-23 19:12] jenniferlu717 commented on #3
It works now! Thanks :)

[2018-07-23 19:12] #3 closed

[2018-07-24 08:58] AlexanderDilthey commented on #2
Hi!

Thank you for the good suggestion! I've added a corresponding section to the README file!

[2018-07-24 11:23] RxLoutre commented on #2
Thanks a lot for adding it ! Do you have by any chance an example of a real file I could have an eye on ?

[2018-07-27 10:42] AlexanderDilthey commented on #2
I'll produce one!

[2018-07-27 23:33] AlexanderDilthey commented on #2
Here we go: https://github.com/DiltheyLab/MetaMaps/blob/master/MetaMaps_example_output.zip

[2018-07-27 23:33] #2 closed

[2018-07-30 07:55] RxLoutre commented on #2
Alright that's perfect ! Thanks a lot !

[2018-08-06 19:38] silver1eaf opened #4 "Error in classify step"
Hi Alexander,
I got the following error in the second step of MetaMaps.  The command I ran was
`metamaps classify --mappings test10000.classification --DB databases/miniSeq+H`

[code]

Thanks for any advice on this!

[2018-08-09 03:27] silver1eaf commented on #4
Ok, I've run in gdb and found this one:
`meta::getMappingLocations (taxonInfo=..., f=..., readLines=...) at src/meta/fEM.h:260
260                     double mappingQuality = std::stod(line_fields.at(13));`

[2018-08-09 15:56] AlexanderDilthey commented on #4
Thank you! Could you do a pull from GitHub, recompile (make clean; make metamaps) and re-run? The output should now include the line that caused the problem - could you post this here?

[2018-08-10 14:13] RxLoutre opened #5 "How to download others branches using downloadRefSeq.pl"
Hello there,

I would like to know if there is anyway to download data from other species than this list : "archae bacteria fungi protozoa viral" ?

For specific purpose, I would like to construct a wider database, with less species from each branche (like 1 or 2 fungi, 1 or 2 archae etc) including vertebrate species. I see in the perl code that it was somewhat planned to do so.

Line 90 :

` #my

[2018-08-10 18:53] silver1eaf commented on #4
[code]

[2018-08-13 08:43] AlexanderDilthey commented on #4
Hi silver1eaf, it should also print an error message to STDERR - beginning with the string "Mapping quality is out of range for a double" - could you identify and post the details (the line of the output containing the beginning of the error message and the next line)?

[2018-08-13 08:48] AlexanderDilthey commented on #5
Hi Roxane,

Yes, more comfortable ways to construct new reference databases is something I am working on.

First, if you want to download more data, you can specify --targetBranches - e.g. --targetBranches fungi,protozoa

What currently happens is that the subsequent steps will iterate through your downloaded directory; search for gzipped assembly files; extract (i.e. un-gzip) some of these, based

[2018-08-13 10:02] RxLoutre commented on #5
Hi Alex,

Alright, I'm not sure I got all of it. Something that could be easily configurable would be parsing a file listing all the genome you want to be included in. I can't help it but thinking about something that look like FastQScreen conf file :

[code]

I don't know if it can fit the rest of the pipeline, but this is the idea that came up in my mind when you asked !

[2018-08-13 15:54] AlexanderDilthey commented on #5
Something like this might well work - the only additional thing we'd need is a 'taxon ID' column. This would be feasible, wouldn't it?

________________________________
Von: Roxane Boyer <notifications@github.com>
Gesendet: Montag, 13. August 2018 12:02
An: DiltheyLab/MetaMaps
Cc: Alexander Dilthey; Comment
Betreff: Re: [DiltheyLab/MetaMaps] How to download others branches using downloadRefSeq.pl

[2018-08-14 08:50] RxLoutre commented on #5
Well, I'm hyped about it, I think it could work :)

[2018-08-14 22:26] silver1eaf commented on #4
Here you go.  The "Input line" is the first line of the input file test10000.classification
[code]

[2018-08-20 10:46] AlexanderDilthey commented on #4
Thank you! I think I found the issue - if you do a 'pull' from GitHub and a 'make clean; make metamaps', the problem should be fixed.

[2018-08-20 12:35] AlexanderDilthey commented on #5
OK - I've got something, let me know what you think and whether this is useful to you!

I've added a new command `combineAndAnnotateReferences.pl` - basically the idea is that you specify input genomes and taxon IDs in a file, and this script will prepare everything for you to pass on to `buildDB.pl`.

Here is an example command line:

`perl combineAndAnnotateReferences.pl --inputFileList tests/fi

[2018-08-20 12:52] RxLoutre commented on #5
Hi Alexander,

Thanks for working hard and fast on that case !

So, if I understand well, the new script `combineAndAnnotateReferences.pl` is a patch so I can use only a file listing all the path to my `genomes.fasta` as the only input, right ? Which kinda replace the first step which was to download the database from RefSeq.

I'm still uncertain about the meaning of the taxon ID in here.. If I ha

[2018-08-21 10:41] AlexanderDilthey commented on #5
Hi Roxane,

These are excellent questions!

First and most importantly, you're right in that this script replaces the RefSeq download.

Now, for the taxonomy: MetaMaps needs this information to understand how the input genomes are related to each other. It is contained in the 4 files you mentioned. The format of these files is identical to the format of the NCBI taxonomy database. By far the easie

[2018-08-22 06:57] RxLoutre commented on #5
Hi Alexander,

Thanks a lot for your answers ! I'm kind of a newbie in the taxonomy field. I downloaded ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz and untared the file in a taxonomy directory within metamaps. Even if it contains more informations than it should (I mean by that more genomes than I'm going to use), is it still okay to give this as a `--taxonomyInDirectory` ?

The next st

[2018-08-22 09:28] RxLoutre commented on #5
Oh and one other simple question : The fileList use as a seperator a tabulation or a simple space ?

[2018-08-22 19:13] AlexanderDilthey commented on #5
Hi Roxane,

for the file list, any whitespace character (space or tab) is fine. Currently no comments are accepted. This could be easily changed, though.

Absolutely yes! You can always use the complete NCBI taxonomy!

Regarding the cluster question: you're right that the source code is still evolving rapidly and that future changes are likely. Currently the best way to update MetaMaps is to do a

[2018-08-23 06:43] RxLoutre commented on #5
Great, thanks a lot for all your answers, have a great day ! And good luck with MetaMaps : )

Rox

[2018-08-23 11:58] AlexanderDilthey commented on #5
Thank you! Please let me know if you run into problems or if you have additional feature requests! :-)

Alex

[2018-08-23 11:58] #5 closed

[2018-08-23 11:59] AlexanderDilthey commented on #4
Great, thank you for letting me know!

[2018-08-23 11:59] #4 closed

[2018-10-10 14:18] cjain7 opened #6 "Update License"
The license file of the project needs minor updating :)

[2018-10-31 20:37] AlexanderDilthey commented on #6
Fixed!

[2018-10-31 20:37] #6 closed

[2018-11-07 13:16] nllg opened #7 "Error in classify step"
Hello,
I am testing your tool and I get this error when I run:
./metamaps classify --mappings classification_results.1 --DB databases/miniSeq+H

The error is as follows:
Min. reads for 'U' = 10000

metamaps: src/meta/fEM.h:350: std::map<std::__cxx11::basic_string<char>, long unsigned int> meta::getMappingStats(std::__cxx11::string): Assertion `statsStream.is_open()' failed.
****

Thank you in adva

[2018-11-08 14:14] AlexanderDilthey commented on #7
Hi Nathaly,

You should probably use `--mappings classification_results` instead of `--mappings classification_results.1`, unless you explicitly specified `-o classification_results.1` when mapping.

If the output file `classification_results` (i.e. without the `.1`) is not present, then something went wrong with the mapping step.

Best,

Alex

[2018-11-09 09:38] nllg commented on #7
ok, then it might be that the mapping step didn't work out. I will run the mapping step again.
Thank you very much!
Cheers,
Nathaly

[2018-11-19 09:45] nllg commented on #7
Hi Alex,

I ran the mapping step again. I used the following command:
metamaps mapDirectly --all -r /databases/miniSeq+H/DB.fa -q reads.fasta -o classification_results

The program ran for 8 days and once again,  the output was classification_results.1
As expected, when I ran the classify step, I got the same error as before:

Min. reads for 'U' = 10000

metamaps: src/meta/fEM.h:350: std::map<std:

[2018-11-19 09:49] AlexanderDilthey commented on #7
Hi Nathaly,
Can you post the classify command you used?
Thanks,
Alex

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: nllg <notifications@github.com>
Sent: Monday, November 19, 2018 10:45
To: DiltheyLab/MetaMaps
Cc: Alexander Dilthey; Comment
Subject: Re: [DiltheyLab/MetaMaps] Error in classify step (#7)

Hi Alex,

I ran the mapping step again. I used the followi

[2018-11-20 08:49] AlexanderDilthey commented on #7
Thank you! If the file without the .1 doesn’t exist, mapping has failed. Can you capture exit code and output with /usr/bin/time -v ... &> output.txt, where you substitute the ‚...‘ with your mapping command?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: nllg <notifications@github.com>
Sent: Monday, November 19, 2018 11:24
To: DiltheyLab/MetaMaps
Cc: Alexander

[2018-11-28 16:05] marceaf23 opened #9 "Symbol lookup error"
I am getting this error when running metamaps and can't figure out why.
<img width="1430" alt="screen shot 2018-11-28 at 11 04 00 am" src="https://user-images.githubusercontent.com/6750641/49164635-82359f00-f2fd-11e8-98e1-96706bf0fb78.png">

[2018-11-28 18:47] AlexanderDilthey commented on #9
This somehow relates to an issue with the Boost libraries. Which version of Boost do you use? Can you post the generated makefile?

Thanks,

Alex

________________________________
Von: marceaf23 <notifications@github.com>
Gesendet: Mittwoch, 28. November 2018 17:05
An: DiltheyLab/MetaMaps
Cc: Subscribed
Betreff: [DiltheyLab/MetaMaps] Symbol lookup error (#9)

I am getting this error when running m

[2018-11-28 18:50] marceaf23 commented on #9
<img width="1433" alt="screen shot 2018-11-28 at 1 49 52 pm" src="https://user-images.githubusercontent.com/6750641/49174520-84572800-f314-11e8-8319-a05ed25f5360.png">
Here is the makefile generated. I am using boost 1.58

[2018-11-28 19:38] marceaf23 commented on #9
You were right, it was a problem with my Boost path. Fixed it. Thank you!

[2018-12-14 13:15] aroelo opened #10 "no file taxdump.tar.gz with downloadRefSeq.pl"
When trying to download a reference database with the downloadRefSeq.pl script I get the following error:
No file taxdump.tar.gz in /pub/taxonomy/ on ftp.ncbi.nlm.nih.gov? at /opt/MetaMaps-master/downloadRefSeq.pl line 70.

Parameters used:
perl /opt/MetaMaps-master/downloadRefSeq.pl --seqencesOutDirectory /datadrivehdd/MetaMaps_DB/refseq --taxonomyOutDirectory /datadrivehdd/MetaMaps_DB/taxonomy -

[2018-12-16 14:09] AlexanderDilthey commented on #10
I can't reproduce the error - maybe a temporary NCBI server hiccup? Have you tried re-running?

[2018-12-17 12:52] aroelo commented on #10
I tried re-running the same command today and still get the same error. When I download the taxdump.tar.gz manually to the taxonomy folder and comment out line 70, it continues, but downloads 0 genomes. It results in the following output:

[code]

I'm thinking, because of a similar problem with the ftp connection as above, but can't figure out what exactly the problem is.

[2018-12-18 10:34] #9 closed

[2018-12-19 08:55] aroelo commented on #10
Adding `$ftp->passive(1);` did the trick!

For your info, without `$ftp->passive(1);` the output is:
[code]
After adding `$ftp->passive(1);` the output is:
[code]

And it continues with downloading of the data..
Thank you for your help!

[2018-12-19 08:55] #10 closed

[2019-01-30 07:47] aroelo opened #11 "Assertion 'combinedOutput.is_open()' failed"
Hi Alexander,

I just ran into an issue when using mapDirectly with my custom database.

The last lines of output are:
[code]

After running the following command:

`/usr/bin/time -v /opt/MetaMaps-master/metamaps mapDirectly -t 20 --all -r ./myDB/DB.fa -q /datadrivehdd1/nanopore/03_projects/campanula/reads/campanula_PCS108_a2.3.0.fastq -o ./classification_results --maxmemory 100 &> output.txt`

I

[2019-01-30 18:16] AlexanderDilthey commented on #11
Hi,

Hmm, this is weird - it seems the program can’t open the main output file. My initial guess was file system/permission issues, but given that the .1 file was created, this seems unlikely. Have you tried writing into another directory? All basic sanity checks, like space on disk, ok?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: aroelo <notifications@githu

[2019-02-05 13:05] aroelo commented on #11
Hi Alexander,

I haven't tried writing into another directory anymore. I was working with a smaller sub set of the database so far and then I have no problems writing to the same directory (and basic checks like space on disk are okay).

I noticed however, that one time when I tried a different sub set (also quite small) I got the same error. I haven't saved the exact input&output unfortunately, b

[2019-02-05 18:23] AlexanderDilthey commented on #11
Hmm, no, the contig IDs should not lead to any problems at this point. The reference database is based on RefSeq, i.e. not proprietary? Could you make the FASTA available to me, e.g. via Dropbox? I'd then try to reproduce the issue.

[2019-02-27 13:40] aroelo commented on #11
The reference database is only based on RefSeq.
A bit of a delay (sorry about that), but here is a link to the FASTA:
https://www.dropbox.com/s/zlusvvpm0eb4mlu/DB.fa.gz?dl=0

[2019-03-01 12:47] AlexanderDilthey commented on #11
Thank you! I'll look into this!

________________________________
Von: aroelo <notifications@github.com>
Gesendet: Mittwoch, 27. Februar 2019 14:40
An: DiltheyLab/MetaMaps
Cc: Alexander Dilthey; Comment
Betreff: Re: [DiltheyLab/MetaMaps] Assertion 'combinedOutput.is_open()' failed (#11)

The reference database is only based on RefSeq.
A bit of a delay (sorry about that), but here is a link to the

[2019-03-13 14:31] mbhall88 opened #12 "Metamaps cant find boost files"
I am having some trouble building metamaps. It seems to be struggling to find some files that definitely exist. I will provide the full list of commands I ran (I am doing this inside a container).

[code]

Everything runs fine but when I got to execute the binary with `./metamaps` I get the following error

[code]

Running `find / -name libboost_system.so.1.62.0` gives
[code]
which is where I told

[2019-03-13 14:57] AlexanderDilthey commented on #12
Most likely you need to add the directory that Boost is located in to the LD_LIBRARY_PATH environment variable.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Michael Hall <notifications@github.com>
Sent: Wednesday, March 13, 2019 15:33
To: DiltheyLab/MetaMaps
Cc: Subscribed
Subject: [DiltheyLab/MetaMaps] Metamaps cant find boost files (#12)

I am having some t

[2019-03-14 10:15] mbhall88 commented on #12
Still getting the same problem...

[2019-03-14 10:17] AlexanderDilthey commented on #12
Can you send me the complete contents of your LD_LIBRARY_PATH variable just prior to calling MetaMaps?

[2019-03-14 17:20] mbhall88 commented on #12
Ah, my apologies. I had been exporting `/usr/local` to `LD_LIBRARY_PATH`. Exporting `/usr/local/lib` fixed it and I can execute `metamaps` now.

[2019-03-14 17:20] #12 closed

[2019-06-10 13:20] AlexanderDilthey commented on #11
Hi @aroelo, sorry, this took me some time. But I can map against the database you provided without any errors. To test this, I've extracted a few sequences from the database and used these as test reads. I attach the file I've used for this test as a reference.

[DB1_pseudoReads.zip](https://github.com/DiltheyLab/MetaMaps/files/3272169/DB1_pseudoReads.zip)

The assertion `combinedOutput.is_open()`

[2019-06-10 13:21] #7 closed

[2019-06-11 14:20] jpetteng opened #13 "Need to add mkdir databases to readme"
Minor for sure, but the user needs to create the databases dir before executing step 4. of the Databases section in the readme.

[2019-06-17 01:13] parul-sharma opened #14 "Building database and adding new genomes."
Hi

I want to add a new genome to the existing database. So far I had been using the default miniSeq database provided along the software. I have executed step 3 from the steps of construction. But I think it is required for the database to be constructed from scratch for the following step to work.
Therefore, I started from the top with step 1 and got the following output. [screenshot included] I

[2019-06-17 12:58] AlexanderDilthey commented on #13
Thank you! We've modified the README accordingly!

[2019-06-17 12:58] #13 closed

[2019-06-17 13:19] AlexanderDilthey commented on #14
Hi @parul-sharma,

Thank you for submitting this!

Just to clarify, you are using a recent pull from GitHub? I'm not sure I can reproduce the error:

[code]

[2019-06-17 15:00] parul-sharma commented on #14
Hi

Thanks for the quick reply.
I just finished updating the software and tried the same again. I got the following error.
![Uploading Screen Shot 2019-06-17 at 10.57.23 AM.png…]()

Sorry, I'm new at this and really appreciate your help.

[2019-06-17 15:07] parul-sharma commented on #14
Hi

Thanks for the reply. I updated the software and tried again. I ran into this error.
` perl /home/parulsharma/bin/MetaMaps/downloadRefSeq.pl --seqencesOutDirectory Metamaps_dafaultDB+1/refseq --taxonomyOutDirectory Metamaps_dafaultDB+1/taxonomy --targetBranches bacteria
citations.dmp
delnodes.dmp
division.dmp
gencode.dmp
merged.dmp
names.dmp
nodes.dmp
gc.prt
readme.txt

Taxonomy downloaded and

[2019-06-17 21:06] parul-sharma commented on #14
So I loaded the dependencies (zlib, boost, python) again and it worked this time. But it throws an error after 67/24762 as shown below. I have tried it 3 times again but it shows the same error.

I feel like this has something to do with the NCBI server issues but is there a way to resolve this?

This is the error:

[code]

[2019-06-19 10:54] AlexanderDilthey commented on #14
@parul-sharma OK, thank you! I think I can reproduce this error. I'll fix this ASAP, but it might take until next week.

[2019-06-26 16:43] AlexanderDilthey commented on #14
This should be fixed now. You can also call the script with `--skipIncompleteGenomes 1` if you want to speed up the process by downloading only complete genomes.

[2019-07-19 13:15] xlinxlin opened #15 "Installation failed"
I just tried to install MetaMaps on my Ubuntu 18.04 computer but it failed, the last installation message I can get from the console is:
[code]
Can someone help me? Thanks!

[2019-07-30 13:01] #14 closed

[2019-07-30 13:05] AlexanderDilthey commented on #15
@xlinxlin Apologies for late response, I had been away for a few days. This is a Boost issue - difficult to diagnose remotely. Is it possible that the version of gcc used to build the library is different from the one you have in your PATH? I'd recommend trying to build against a local version of Boost.

[2019-07-31 14:45] xlinxlin commented on #15
@AlexanderDilthey Thank you for your response, I also think it is a Boost issue but I have no idea how to fix it... Here is my commands how I installed Boost and MetaMaps (I just tried it again with boost 1.70 and got the same error messages).
[code]
What I noticed is that I set the path to Boost is /opt/boost_1_70_0, but in the error message it seems that it used the Boost in /usr/include, is tha

[2019-08-01 12:37] xlinxlin commented on #15
@AlexanderDilthey and my gcc version is 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1), is that also could be an issue?

[2019-08-03 09:36] AlexanderDilthey commented on #15
gcc 7.4.0 should be fine.

Yes, there seems to be a version mismatch, the output you listed all points to `/opt/boost_1_68/lib`. Did you check that there is a valid installation of boost in `/opt/boost_1_70_0`? Also, it might be that a space character is misisng between `sudo` and `./configure` in the command you quoted: `sudo./configure --with-boost=/opt/boost_1_70_0`.

I am not sure why `configu

[2019-08-05 09:30] xlinxlin commented on #15
@AlexanderDilthey It would be greatly appreciated if you could help me to edit the generated makefile. Please find the attached file, thank you.
[Makefile.gz](https://github.com/DiltheyLab/MetaMaps/files/3466873/Makefile.gz)

[2019-08-05 10:30] AlexanderDilthey commented on #15
Thank you! The Makefile looks good to me!

1. Can you do a `make clean` in the MetaMaps directory, followed by a `make metamaps`, and confirm that you still get error messages that refer to your global Boost installation (`/usr/include/boost/`...)?

2. Can you do an `ls` on `/opt/boost_1_70_0/include` and post the output?

[2019-08-05 11:29] xlinxlin commented on #15
@AlexanderDilthey
1. Now I got a new error message:
[code]
2. Under` /opt/boost_1_70_0/include` there is only a folder `boost`

Please see the screenshots in the attachment, thank you.
![2](https://user-images.githubusercontent.com/28823126/62461405-fc6bcc80-b784-11e9-9463-18d25f1a6cca.png)
![1](https://user-images.githubusercontent.com/28823126/62461406-fc6bcc80-b784-11e9-8524-a7b751ca575c.png)

[2019-08-05 12:37] xlinxlin commented on #15
@AlexanderDilthey I think I have maybe the same issue mentioned in this [post](https://github.com/DiltheyLab/MetaMaps/issues/12), but I have no idea how to fix it...
![3](https://user-images.githubusercontent.com/28823126/62465152-8b311700-b78e-11e9-824e-c2880ffa904d.png)

[2019-08-05 12:43] xlinxlin commented on #15
@AlexanderDilthey Finally...It works!
![4](https://user-images.githubusercontent.com/28823126/62465495-4fe31800-b78f-11e9-878d-a00fc0a3647d.png)

[2019-08-05 12:55] AlexanderDilthey commented on #15
Excellent! I'll close this issue now, but let me know if you encounter further problems.

[2019-08-05 12:55] #15 closed

[2019-08-07 11:08] xlinxlin commented on #11
Hi @AlexanderDilthey , I just got the same issue.
[code]
The command is: `./metamaps mapDirectly -t 100 --all -r databases/miniSeq+H/DB.fa -q barcode.fastq -o classification_results` I used your default database.

[2019-08-07 12:49] AlexanderDilthey commented on #11
@xlinxlin Is it possible you don't have write permissions in the directory you are executing MetaMaps in? Can you confirm by doing `echo 1 > classification_results` and then an `ls -l classification_results` in the directory?

[2019-08-08 07:34] xlinxlin commented on #11
Hi @AlexanderDilthey , I ran it again and the error message didn't show again.
![1](https://user-images.githubusercontent.com/28823126/62683147-117f7000-b9be-11e9-84a4-219d9306064c.png)
Command is: `/opt/MetaMaps/metamaps mapDirectly -t 100 --all -r ~/Downloads/databases/miniSeq+H/DB.fa -q ~/Yan_test/20190725_SP_Metagenomics/fastq/testMetaMaps/barcode03.fastq -o classification_results`
But the str

[2019-08-08 10:41] xlinxlin commented on #11
I think I forget to run `./metamaps classify --mappings classification_results --DB databases/miniSeq+H`, I will try it again.

[2019-08-08 14:45] xlinxlin commented on #11
It works for me now.

[2019-08-08 14:45] AlexanderDilthey commented on #11
@xlinxlin Great! I'll close this issue now.

[2019-08-08 14:45] #11 closed

[2019-08-16 04:10] Earwelen opened #16 "meta::getTaxonIDsFromMappingsFile(std::string): Assertion `mappingsStream.is_open()' failed"
Hello,

I ran metamaps mapDirectly, and get the output.x files. I am not sure what to expect from this first step, but the .output file (without .1 or .x) is sometimes missing, and this seems a first issue discussed here: https://github.com/DiltheyLab/MetaMaps/issues/7#issuecomment-440191480

In the second step, i am getting the following error. Commands:
[code]
Error:
[code]
Could you help on thi

[2019-09-08 01:40] schorlton opened #17 "Feature Request: Compiled executable and Conda package"
**Feature Request**
It would be really nice to have a compiled executable for linux as well as a conda package for MetaMaps. MetaMaps is challenging to install on a managed server without su privilege. I think a side-effect to easier installation would be a larger user base. Great work and thanks!

[2019-10-05 02:39] schorlton opened #18 "downloadRefseq.pl timeout"
Running from the latest commit (`881373c`). Tried downloading the database. Unfortunately timing out as per below.

[code]

[2019-10-16 14:50] froggleston commented on #18
I also see this issue when downloading a large amount of data, and the script doesn't let you resume, so it's downloading right from the start again.

[2019-10-22 12:19] dinhe878 opened #20 "MetaMaps configure issue"
Hi,

I am trying to compile MetaMaps on a linux server (CentOS Linux). I use miniconda to manage packages, therefore, installed boost library via conda (https://anaconda.org/anaconda/boost). I could locate the path to my boost library and provided when configure the program:

./configure --with-boost=/path/to/boost/ -- --prefix=/path/to/bin/

However, it still complains with error messages:

check

[2019-10-23 19:15] froggleston commented on #20
Hi Ding,

What path are you giving to --with-boost? You need the development headers (hpp) files, not the location where the linkers (.so) files are. I'm not sure that the anaconda package supplies the headers, but the biobuilds package does:

https://anaconda.org/biobuilds/boost

Cheers

Rob

[2019-10-24 12:50] dinhe878 commented on #20
Hi Bob,

Thanks for getting back to me. I did manage to configure MetaMaps after changing the path pointed to the root directory of my conda environment. However, I ran into issues when do "make":

(metagenome_pipeline) [dinghe@fe1 MetaMaps]$ make metamaps
g++ -c -O2 -ggdb -fopenmp -std=c++11 -Isrc -L /home/dinghe/miniconda3/envs/metagenome_pipeline/lib -I /home/dinghe/miniconda3/envs/metagenome_p

[2019-10-24 13:37] froggleston commented on #20
It looks like anaconda is missing ICU. You can install this package to provide it: https://anaconda.org/conda-forge/icu

[2019-10-25 14:02] froggleston commented on #20
Can you confirm where libicudata.so.64 is on your system?

[2019-10-25 14:13] dinhe878 commented on #20
/home/dinghe/miniconda3/envs/metagenome_pipeline/lib/

[2019-10-29 19:55] zdk123 commented on #20
I had this issue as well when trying to manage boot and icu from conda. The issue is that the compiler (g++) expects icu on the system. On ubuntum, I was able to specify the path directly via the recipe:

[code]

[2019-10-29 22:02] dinhe878 commented on #20
Thanks @zdk123, followed your suggestion but still not resolved my issue:

g++ -c -Wl,-rpath,/home/dinghe/miniconda3/envs/metamaps/lib -O2 -ggdb -fopenmp -std=c++11 -Isrc -L /home/dinghe/miniconda3/envs/metamaps/lib -I /home/dinghe/miniconda3/envs/metamaps/include  -include src/common/memcpyLink.h -Wl,--wrap=memcpy -DUSE_BOOST -o src/map/mash_map.o src/map/mash_map.cpp
g++ -Wl,-rpath,/home/dinghe/

[2019-10-31 05:13] bestweicheng opened #21 "metamaps: error while loading shared libraries: libboost_filesystem.so.1.71.0: cannot open shared object file: No such file or directory"
metamaps mapDirectly --all -r databases/miniSeq+H/DB.fa -q input.fastq -o classification_results

@：metamaps: error while loading shared libraries: libboost_filesystem.so.1.71.0: cannot open shared object file: No such file or directory

I cant open metamaps（it is a application/x-sharedlib）so I dont know how to put this  (libboost_filesystem.so.1.71.0)

[2019-11-13 10:04] tenlives opened #22 "Can the software help me construct my own databases only with my own genome data?"
Hello,
       I am very excited that you have made a great software with great algorithm. While, may I build the  database with my data only? if can do this ? What file should I input ?

Thanks
 tenlives

[2019-11-14 07:48] #22 closed

[2019-11-14 14:51] AlexanderDilthey commented on #21
Your `LD_LIBRARY_PATH` environment variable needs to contain the path to the Boost libraries. You can check the current value via `echo $LD_LIBRARY_PATH`.

[2019-11-14 14:51] #21 closed

[2019-11-14 14:57] AlexanderDilthey commented on #16
Hi @Earwelen, could you post the full command you use for the mapping step?

[2019-11-14 15:09] AlexanderDilthey commented on #18
I have added a `--timeout` parameter. Increasing this will hopefully fix the observed issue.

Medium-term, it would be good to add a `--resume` parameter as well, or an automatic check whether an assembly has been downloaded already. Doing this should not be too complicated (checking whether the files in `@genomic_fna_files` and `@assembly_report_files` are present already).

[2019-11-14 15:14] froggleston commented on #18
Hi Alexander,

Good timing as I've just been playing with some code to resume. I'll make a pull request when I've got something tested.

Cheers!

Rob
________________________________
From: Alexander Dilthey <notifications@github.com>
Sent: Thursday, November 14, 2019 3:09:05 PM
To: DiltheyLab/MetaMaps <MetaMaps@noreply.github.com>
Cc: robert davey (EI) <robert.davey@earlham.ac.uk>; Comment <commen

[2019-11-14 15:15] AlexanderDilthey commented on #18
Hi Rob,

Wonderful! Thank you! Looking forward to the pull request! :-)

Cheers,

Alex

[2019-11-15 04:19] tenlives opened #23 "metamaps: src/meta/taxonomy.h:229: meta::taxonomy::taxonomy(std::__cxx11::string): Assertion `T.count(id) == 0' failed"
After mapping the reads to database, I used command "metamaps classify --mappings classification_results --DB databases/miniSeq+H "to classify them . While there is an error . How should I do to solve the problem?

[2019-11-15 05:27] #23 closed

[2019-11-15 08:31] Lemon-Liu opened #24 "Installation problem: get "fatal error: boost/serialization/unordered_map.hpp: No such file or directory" after executing `make metamaps`"
I was trying to install the metaMaps in my centos7 by following the [instruction ](https://github.com/DiltheyLab/MetaMaps/blob/master/INSTALL.txt). Everything is fined until executing `make metamaps`, I got this error message:

'''g++ -c -O2 -ggdb -fopenmp -std=c++11 -Isrc -L /public2/software/boost_1_71_0/lib -I /public2/software/boost_1_71_0/include  -include src/common/memcpyLink.h -Wl,--wrap=m

[2019-11-15 10:42] AlexanderDilthey commented on #24
Hi @Lemon-Liu, does the file  /public2/software/boost_1_71_0/include/boost/serialization/unordered_map.hpp exist on your system?

[2019-11-18 09:44] Lemon-Liu commented on #24
Hi @AlexanderDilthey, I checked the path you mentioned and reinstalled the boost_1_71_0, then I run `make metamaps` without err messages this time:
[code]
However, I got another problem while running `./metamaps`:
[code]
I searched in the Internet but got no useful messages.
Could you please help me to fix this out? Thanks in advance.

[2019-11-18 14:21] AlexanderDilthey commented on #24
@Lemon-Liu Great! The problem is now that the Boost library is not found when starting MetaMaps. You should be able to fix this by adding the directory that the Boost libraries are in (assumedly `/public2/software/boost_1_71_0/lib`) to the environment variable `LD_LIBRARY_PATH`.

[2019-11-19 11:56] Lemon-Liu commented on #24
Thanks for your kind help. It now works well!

[2019-11-19 11:56] #24 closed

[2019-11-21 05:28] Earwelen commented on #16
Hi @AlexanderDilthey ,
If I remember the issue was the memory usage. Using qsub on a server, i specified a memory requirement but the usage was much more than the target max memory (something like 52GB while targeting for 30GB) and it generated errors. Not sure why, but the memory consumption was close to the double of the specified amount.
Thank you.

[2019-11-21 07:28] AlexanderDilthey commented on #16
@Earwelen Thank you for getting back to us on this! Yes, this behavior is known and documented; but perhaps we have to increase the recommended factor between parameter value and available memory.

[2019-11-21 07:28] #16 closed

[2019-11-24 04:14] l-yampolsky opened #25 "Question: will MetaMaps work to map 18S MinION reads from a pcr product?"
If I use, say, SILVA 18S database as the reference?

If yes, what would be good parameters for such mapping?
Thanks!

[2019-11-29 16:38] ms-gx opened #27 "Typo in help for command "index""
There is a typo for `metamaps index -h`

It says:

[code]

The `[default e-03] `is from the p-value parameter.

[2019-11-29 23:02] ms-gx commented on #5
To generate my own DB: Do I ideally provide species_taxid or taxid (as for example given in assembly_summary_genbank.txt). I guess taxid, because MetaMaps goes down to strain level.

[2019-11-29 23:03] ms-gx opened #28 "Extracting all representative and reference genomes from GenBank and put it into DB."
I would like to make a very extensive ref. DB for MetaMaps.

Ideally I take all genomes with RefSeq category `reference genome` and `representative genome` so that I have one genome per Species.

What are your thoughts? Is this pure madness or do you think this should work on a decent compute infrastructure?

Any thoughts on how to optimize this?

[2019-12-02 20:29] ArnieBerg opened #29 "Configure issue (usability)"
I have the same symptom as https://github.com/DiltheyLab/MetaMaps/issues/20, except I don't use conda.  I am running Ubuntu 18.04.  The configure command I use is:

./configure --with-boost=/media/analynano/Data500GB/ArnieFiles/boost_1_71_0/boost --prefix=/media/analynano/Data500GB/ArnieFiles/MetaMaps

The error lines are:

checking boost/math/distributions/binomial.hpp usability... no
checking bo

[2019-12-12 15:35] ArnieBerg commented on #29
Is this product still supported?  We will not be able to use this product unless issues can be resolved.

[2019-12-12 16:11] AlexanderDilthey commented on #29
Yes, it is. I have been traveling a lot over the last weeks. Hope to get back to you early next week.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ArnieBerg <notifications@github.com>
Sent: Thursday, December 12, 2019 4:35:46 PM
To: DiltheyLab/MetaMaps <MetaMaps@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [DiltheyLab/MetaMap

[2019-12-12 16:13] AlexanderDilthey commented on #29
Have you tried calling the configure script with

 --with-boost=/media/analynano/Data500GB/ArnieFiles/boost_1_71_0

?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ArnieBerg <notifications@github.com>
Sent: Thursday, December 12, 2019 4:35:46 PM
To: DiltheyLab/MetaMaps <MetaMaps@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Di

[2019-12-12 17:02] ArnieBerg commented on #29
Thanks for responding.

I did try
--with-boost=/media/analynano/Data500GB/ArnieFiles/boost_1_71_0
with the same result.

The last lines of the output are:

checking boost/math/distributions/binomial.hpp usability... no
checking boost/math/distributions/binomial.hpp presence... no
checking for boost/math/distributions/binomial.hpp... no
configure: error: Boost Library headers not found.

[2019-12-12 17:05] AlexanderDilthey commented on #29
Hmmm... but you confirm that /media/analynano/Data500GB/ArnieFiles/boost_1_71_0/boost/math/distributions/binomial.hpp exists on your machine?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ArnieBerg <notifications@github.com>
Sent: Thursday, December 12, 2019 6:02:56 PM
To: DiltheyLab/MetaMaps <MetaMaps@noreply.github.com>
Cc: Alexander Dilthey <alexanderdilthey

[2019-12-12 17:12] ArnieBerg commented on #29
Yes, this is the path to binomial.hpp:
/media/analynano/Data500GB/ArnieFiles/boost_1_71_0/boost/math/distributions/binomial.hpp

[2019-12-19 10:31] tenlives opened #30 "Doesn`t find th script named "filterLowIdentityEntities.pl""
Hello !
         Could you provide me with the script ? I couldn`t find it in you provided files ,Thank you very much!

Best wishes !

[2019-12-20 13:15] AlexanderDilthey commented on #25
It may work (in the sense of: not throwing an error), but the algorithm and the model were really developed for analysis of whole-genome shotgun data. I don't thing MetaMaps is the right tool for this application.

[2019-12-20 13:15] #25 closed

[2019-12-20 13:22] AlexanderDilthey commented on #27
Fixed, thank you!

[2019-12-20 13:22] #27 closed

[2019-12-20 13:22] AlexanderDilthey commented on #28
I think we discussed this during our call. Feel free to re-open if any further questions arise.

[2019-12-20 13:22] #28 closed

[2019-12-20 13:38] AlexanderDilthey commented on #30
Sorry - I've added the script to the repository on GitHub. See directory `util`.

[2019-12-20 13:38] #30 closed

[2019-12-20 13:42] AlexanderDilthey commented on #29
I now believe the issue has to do with a missing `include` subdirectory.

One of my colleagues writes:

[2019-12-20 19:10] ArnieBerg commented on #29
Yes! There was no 'include' folder in 'boost_1_71_0', so I created one and copied the 'boost' folder and all its contents into the created 'include' folder, and now configure runs without error.

[2019-12-20 19:10] #29 closed

[2019-12-21 11:05] AlexanderDilthey commented on #29
Super! Thank you for your patience and your feedback!

[2019-12-23 09:02] tenlives commented on #30
@AlexanderDilthey  That`s Great ! Thank you very much ! I think the the Line 35 in the script  should  be reordered to make $DB ranks first .  I have a question that would the result of this script  be  the input of the  classify step?

[2020-01-02 21:02] ArnieBerg opened #31 "Problems integrating MetaMaps with Boost"
There is a problem with where MetaMaps expects the Boost components to be.  If Boost is installed according to the steps given in https://www.boost.org/doc/libs/1_72_0/more/getting_started/unix-variants.html (and don’t forget step 5.1, Easy Build and Install), the resulting folder structure is different from what MetaMaps expects.

Suppose Boost is installed in /usr/local/boost_1_72_0. The include

[2020-01-08 19:33] apredeus opened #32 "Dropbox download issue"
Hello,

thank you for the tool - seems very useful. Dropbox must have reached bandwidth limit since download keeps failing. Thought I'd give you a heads-up.

Cheers

[2020-01-08 22:32] AlexanderDilthey commented on #32
HI @apredeus, thank you for the heads-up!

Does the problem persist? I just tried and had no issues, but this might be network- / geography-dependent...

[2020-01-09 14:56] apredeus commented on #32
I've tried with simple download and wget and it breaks mid-download. I've had similar issues when trying to share big files with many collaborators via Dropbox - I think it exceeds the daily bandwidth of 200 Gb.

At any rate, saving it to my Dropbox worked.

[2020-01-09 15:26] apredeus opened #33 "Error with classify command (boost-related?)"
Hello,

I've compiled MetaMaps using boost installed via conda (since I don't have admin rights on the cluster). First step (mapping) worked without any issues; however, classify command fails with the following message:

Not sure how to debug it - probably related to issues mentioned in another issue, with boost directory structure not being as expected.

[2020-01-10 08:24] tenlives opened #34 "Result in file 'classification_results.EM.contigCoverage' with an error"
###
taxonID equalCoverageUnitLabel  contigID        start   stop    nBases  readCoverage
5334	Escherichia 1169349.3.patric	C732271|kraken:taxid|5334|accn|ASTZ01000025	150000	150999	1754	9.50845e-17
###
Hello,
      I find that  the "readCoverage" in the end of every contig in a genome is not correct, 1754/1000=1.754. While the result is 9.50845e-17. It occurs in in the end of every contig in a gen

[2020-01-11 16:21] ArnieBerg commented on #31
This seems to be a common issue.  Can we have some attention to this?  We are ready to abandon MetaMaps due to slow response.

[2020-01-15 18:04] mkweskin commented on #20
Similar to the suggestion of @zdk123, after creating and activating a conda environment with the requirements, I had to update my `LD_LIBRARY_PATH` before `make`:

[code]

[2020-01-16 03:23] maolingfengZJU opened #35 "filterLowIdentityEntities.pl"
I cannot find the script filterLowIdentityEntities.pl, can you tell me where to download or find the script?

[2020-01-16 11:34] AlexanderDilthey commented on #35
Check in the `util/` folder - if it is not in there, try a fresh pull from GitHub.

[2020-01-16 11:34] #35 closed

[2020-01-16 12:53] AlexanderDilthey commented on #20
@mkweskin Thank you for sharing!

[2020-01-17 17:37] AlexanderDilthey commented on #31
Sorry for slow response, @ArnieBerg. The last problem - MetaMaps not finding libboost_filesystem.so.1.72.0 - will be solved by including the directory that contains the Boost library files into the environment variable LD_LIBRARY_PATH.

[2020-01-18 18:51] cjain7 commented on #31
While I and Alex are looking into this.. I've following comment for troubleshooting this problem at your end:

**Boost install directory and source directory are different**
Metamaps needs the install directory which can be different from where its source code is. In the boost link you shared above, the documentation says that you can explicitly control the boost install directory using `--prefix`

[2020-01-19 15:15] ArnieBerg commented on #31
Thank-you! This was the answer I was looking for.

Solution: Issue export LD_LIBRARY_PATH=/usr/local/boost_1_72_0/lib:${LD_LIBRARY_PATH} command.

[2020-01-19 15:15] #31 closed

[2020-01-30 02:13] Mattstorey opened #36 "mapAgainstIndex"
Hi.
Just wondering how and when to use the mapAgainstIndex and index commands?
Thanks,

[2020-01-30 08:45] AlexanderDilthey commented on #36
Hi @Mattstorey,
This is how you could use the commands:

[code]

We don't recommend, however, using index-based mapping - it complicates the command line call scheme, and the benefits in terms out execution time are not particularly large.

[2020-01-30 08:45] #36 closed

[2020-02-02 19:37] Mattstorey commented on #36
Thanks!

[2020-02-14 20:37] gbdias opened #37 "Make error"
Hi @AlexanderDilthey,

I'm running into some installation problems that were discussed in other issues (https://github.com/DiltheyLab/MetaMaps/issues/20), but the solutions mentioned before don't seem to be working for me.

- I used a conda environment with all dependencies and I get the make error
`collect2: error: ld returned 1 exit status`

- Here are the steps I followed:
[code]

- And here is

[2020-02-27 05:29] carthysgn opened #38 "ERROR, skch::validateInputFiles, Could not open test.fastq"
Hi,
I am quite new to this. I face this issue while trying to use metamaps for my long read metagenomics data. Could you please help me in solving this?

[2020-03-04 21:57] tanushrin opened #39 "Error: cannot open file 'plotIdentities_EM.R': No such file or directory"
Hi,
I would like to plot the classification results. However, the below command results in error.
                  Rscript plotIdentities_EM.R classification_results
                  Fatal error: cannot open file 'plotIdentities_EM.R': No such file or directory

I checked in the repo and couldn't find the script plotIdentities_EM.R. Could you  kindly guide me how to resolve the issue?

Also, wou

[2020-03-23 03:00] schorlton opened #40 "mapAgainstIndex frozen"
I indexed miniseq and am now trying to map against my index. I am aware this is not the recommended approach, however I am trying to save some time  (#36). MetaMaps is unfortunately getting frozen at the mapping stage:
![image](https://user-images.githubusercontent.com/10245822/77274693-bad85500-6c73-11ea-8a0c-08deb4181a4b.png)

It hangs at this screen for hours at 0% CPU, 144GB RES ram. The mapDi

[2020-04-08 12:13] abretaud commented on #17
FYI I'm working on a conda package there: https://github.com/bioconda/bioconda-recipes/pull/21388
For future versions, it would be nice to:
- have proper github releases, I used latest commit from master banch for this first package
- and also a procedure to install perlLib and other perl/R scripts in standard locations (conda follows the standard of installing only the binaries in bin/, and the r

[2020-04-22 10:24] tderrien commented on #33
Hello,

I have (almost) the same issue here:
[code]
Best,

Thomas

[2020-04-23 15:44] LankyCyril opened #41 "Error when creating database"
Hi. I run the downloadRefSeq.pl command -- `downloadRefSeq.pl --seqencesOutDirectory data/metamaps-db/refseq --taxonomyOutDirectory data/metamaps-db/taxonomy`, and after about two days of churning data and printing progress output, it just failed with **"Cannot change working directory into assembly path na na: No such file or directory"** and no other explanation. It had successfully processed al

[2020-05-27 11:50] Thomieh73 opened #42 "Memory usage???"
Hi, I am trying to run MetaMaps with the small database ( miniSeq+H) that you provided.

I downloaded the database and unpacked it.

MetaMaps was installed using Conda on our HP cluster and I am using slurm to run an analysis of a dataset.

Now I see that the memory usage is pretty big (> 140Gb), and I am not really understanding why that is. The result is that I need to up my memory, since the fi

[2020-05-29 21:14] cpockrandt opened #43 "downloadRefSeq.pl fails with error message"
Hi,

I am running the following command from the README to build a database with bacteria from RefSeq:

    perl downloadRefSeq.pl --DB refseq --seqencesOutDirectory download/refseq --taxonomyOutDirectory download/taxonomy --targetBranches bacteria --skipIncompleteGenomes 1

It downloads thousands of genomes and then suddenly exits with ``Can't use an undefined value as a symbol reference at /usr/

[2020-06-04 05:58] tickteng commented on #24
I still encounter this problem after I assigned the LD_LIBRARY_PATH variable.
I am trying to run the program in conda.

$ LD_LIBRARY_PATH=/home/user/miniconda3/envs/metamaps/include/
($ echo $LD_LIBRARY_PATH  /home/user/miniconda3/envs/metamaps/include/
$ ./metamaps
./metamaps: error while loading shared libraries: libboost_filesystem.so.1.71.0: cannot open shared object file: No such file or dire

[2020-06-16 13:16] pkonieczny opened #44 "Assertion error in EM"
I've encountered the following error while running `metamaps classify` for the very first time:
[code]
Not sure what to make of that.

[2020-07-19 10:56] yipukangda opened #45 "Running Classify module then throw 'boost::wrapexcept<std::logic_error>' and 'core dump'"
After finishing `mapDirectly`, then I try to continue `classify` step with the code:

[code]
And get error as showing below:
[code]

the DB I used is __Human+ecoli__ genome constructed as manual page.

In addition, during the `mapDirectly` step, the DB loading time is very long(about 30min) which main are human chr loading to mem, I do not know if it is fessiable to build DB with the original HG38

[2020-07-22 17:55] aaguinal opened #46 "EM not converging with default database"
I am using the default [**minSeq+H**](https://www.dropbox.com/s/6p9o42yufx2vkae/miniSeq%2BH.tar.gz?dl=0) database. I have run the following commands to classify a FASTQ file:
[code]

However, the standard output shows the following endlessly:
[code]

It seems that the EM algorithm is not converging and/or updating.

I running this using the [Metamaps BioContainer](https://biocontainers.pro/#/tools

[2020-07-31 08:46] r-follador opened #47 "Classify is killed during EM round 0"
I don't know if MetaMaps is still being maintained, but I'm currently trying out different Metagenomic analysis software.

Anyway, I'm getting following error without any further explanation during the "Classify" step (the "mapDirectly" step is working flawless):

[code]

How can I find more information on what went wrong? It might have to do something with the size of the dataset I'm using (memor

[2020-08-17 07:08] Thomieh73 commented on #42
I have solved this. closing this issue.

[2020-08-17 07:08] #42 closed

[2020-09-04 15:25] ecollette opened #48 "Problem at the classify step"
Hello there,

I have been having some issues running the second step.

here is the command I enter:
`/home/gurzil/MetaMaps/metamaps classify\
    --mappings mapDirectly/classification_results\
    --DB /home/gurzil/MetaMaps/databases/myDB/DB.fa\
    -t 5`

and here are the 2 last lines of the output:
`metamaps: src/meta/fEM.h:402: std::map<std::__cxx11::basic_string<char>, long unsigned int> meta:

[2020-09-05 03:05] molbio7 commented on #33
Hi, I have the same issue:

metamaps classify  --mappings classification_results --DB databases/databases/miniSeq+H

DB = databases/databases/miniSeq+H
Mappings = classification_results
Min. reads for 'U' = 10000
Threads = 1

terminate called after throwing an instance of 'boost::wrapexcept<std::logic_error>'
  what():  Attempt to access an uninitialized boost::match_results<> class.
Aborted

Is t

[2020-09-23 12:36] jagos01 commented on #33
I also have the same issue.  MetaMaps was installed via conda and the database used was miniSeq+H.

[2020-10-13 10:46] Electrocyte opened #49 "Unable to buildDB"
I am unable to buildDB, initially I suspected it was because the fna files were gunzipped but after un-gzipping them, a new issue arose.

I used the following commands to download a smaller version of the NCBI refseq database, as the command recommended took over 1 week without completion:

[code]

And I got the following error message after adding the gunzip line:
[code]
As a side note, without t

[2020-10-21 04:05] WDH1999 opened #50 "why is the taxonID negative?"
hmp7_2_short_miniSeq+H.EM.WIMP, one of MetaMaps_example_output，I don't know why some  'taxonID' is negative and the same. some values of the  'Absolute' are also the same. Thank you!

![1](https://user-images.githubusercontent.com/36654758/96671086-a38d5180-1393-11eb-9105-2dc9c838ca2c.JPG)

[2020-10-29 04:33] xiestcn commented on #33
I encounter the same issue, installing via conda and with database miniSeq+H. The mapping step worked well, but that took a long time to finish.

[2020-11-07 09:00] tim488 commented on #49
Same here.
Would be nice if somebody could answer this, I think this is a rather serious issue.
 @AlexanderDilthey, @froggleston, @cjain7 any idea?

[2020-11-09 11:11] AlexanderDilthey commented on #49
Sorry for being slow to respond - my group is swamped with COVID-related projects at the moment. I'll look into this and try to fix ASAP!

[2020-11-09 11:25] froggleston commented on #49
Hi @Electrocyte - could you paste the first line of `download/refseq/bacteria/Nitratireductor_sp__SY7/GCF_007922615.2_ASM792261v2/GCF_007922615.2_ASM792261v2_genomic.fna` please?

[2020-11-09 12:03] tim488 commented on #49
After manually unzipping I get:
[code]
The respective File starts with:
`>NZ_CP009605.1 Bacillus cereus strain S2-8 chromosome, complete genome`
I had a look in the Code and it fails while checking for `/kraken:taxid\|(x?\d+)/` which obviously isn't there...
I then gave up because I didn't want to spend so much time on it^^

I will run the other commands and post the output here, it may take a whi

[2020-11-09 12:23] Electrocyte commented on #49
I am missing the bacillus cereus genome:
Bacillus_cereus_AH820/ Bacillus_cereus_C1L/
fourier:~/MetaMaps/download$ cd refseq/bacteria/Bacillus_cereus_
However the first lines for nitra are:
fourier:
~/MetaMaps/download/refseq/bacteria/Nitratireductor_sp__SY7/GCF_007922615.2_ASM792261v2$
head GCF_00792261
5.2_ASM792261v2_genomic.fna

CCCTCCTGTCCCGAGAGGTCATGGTTGCATTCGAGAGCGCCTGCGCGGAGCGCGCCGAGCGGGGCG

[2020-11-09 19:18] AlexanderDilthey commented on #49
Did you run the `annotateRefSeqSequencesWithUniqueTaxonIDs.pl` script (see the second step under "Databases" on the repo's main site)? This should add identifiers of the `kraken:taxid` kind...

[2020-11-11 04:31] Electrocyte commented on #49
Checking the output dir:
@fourier:~/MetaMaps$ ls download/taxonomy_uniqueIDs -alh
total 346M
drwxrwxr-x 2 4.0K Oct 12 19:00 .
drwxrwxr-x 5 4.0K Oct 13 18:29 ..
-rw-r--r-- 1 4.0M Oct 13 17:59 delnodes.dmp
-rw-r--r-- 1 1.1M Oct 13 17:59 merged.dmp
-rw-r--r-- 1 191M Oct 13 17:59 names.dmp
-rw-r--r-- 1 150M Oct 13 17:59 nodes.dmp

These are the commands I used:
perl downloadRefSeq.pl --seqencesOutDire

[2020-11-11 09:44] tim488 commented on #49
Hi, me again, sorry for the delay...
I recovered the screen from my original run.

After downloading the data (yes it ran a long time and often had to be resumed) I ran in the repos main directory:

[code]
this line get's repeated many times and than:
[code]

And as Electrocyte pointed out with running buildDB.pl I get:

[code]
Sadly I wasn't able to recover the output of the download routine, bec

[2020-11-13 18:21] AlexanderDilthey commented on #49
OK, I think we're dealing with separate problems here.

@tim488, could you do a fresh pull from GitHub and try the `annotateRefSeqSequencesWithUniqueTaxonIDs.pl` command again? I have pushed a fix that may (hopefully should) have fixed the problem. We may have to iterate a bit in case further taxonomic levels start appearing in the error message.

@Electrocyte, I think something else is going on i

[2020-11-16 04:37] Electrocyte commented on #49
Do you think it would be worth removing the refseq database I have downloaded for future steps?

After running the 3 commands, I get the following:
[code]
The error continues for a while due to lack of assembly data file.

[code]

Seems the errors propagate from:
[code]

[2020-11-16 12:51] AlexanderDilthey commented on #49
At least for testing purposes I think it would be a good to use a fresh directory for the download and all subsequent steps!

[2020-11-16 15:41] tanushrin commented on #18
Hi,

I have been having timeout issue. Tried increasing the --timeout several times but it still doesn't work. @AlexanderDilthey, would appreciate if you could suggest how to get this resolved.

perl $METAMAPS_SRC_DIR/downloadRefSeq.pl --targetBranches archaea,bacteria,fungi,plant,protozoa --skipIncompleteGenomes 1 --seqencesOutDirectory $METAMAPS_DB_PATH/download/refseq --taxonomyOutDirectory $ME

[2020-11-17 05:26] Electrocyte commented on #49
OK, after removing previous database and download folders:

james@fourier:~/MetaMaps$ perl downloadRefSeq.pl --seqencesOutDirectory
download/refseq --taxonomyOutDirectory download/taxonomy --targetBranches
fungi --skipIncompleteGenomes 1

Unable to close datastream at downloadRefSeq.pl line 77.
Cannot transfer file[Net::FTP] Connection closed at downloadRefSeq.pl line
77.
james@fourier:~/MetaMaps$

[2020-12-01 23:07] molbio7 opened #51 "convert metamaps results to kraken style report - question"
Hi, any chance can we convert metamaps results to kraken style report file?
thanks

[2020-12-04 17:50] AlexanderDilthey commented on #49
Hi @Electrocyte, I am not sure this is a problem with MetaMaps per se, as the exact same commands execute fine e.g. on my local machine.

Is it possible that your firewall or network settings interfere? Can you manually download from ftp.ncbi.nlm.nih.gov?

[2020-12-04 17:52] AlexanderDilthey commented on #51
Hey @molbio7, currently no plans of implementing this, but I'll keep the issue open as a feature request.

[2020-12-06 16:38] tim488 commented on #49
Hi,
We installed the new Version, but still had no success. However, we got new output^^
Here ist my Terminal:
[code]

[2020-12-07 01:40] Electrocyte commented on #49
Hi, below are two separate attempts, both worked fine, if somewhat slowly.

[image: image.png]
Thank you!

On Mon, 7 Dec 2020 at 00:38, tim488 <notifications@github.com> wrote:

[2020-12-07 07:31] tim488 commented on #49
I can't see the image... @Electrocyte

[2020-12-07 10:52] Electrocyte commented on #49
Attached the image

On Mon, 7 Dec 2020 at 15:31, tim488 <notifications@github.com> wrote:

[2020-12-07 12:54] AlexanderDilthey commented on #49
Hey @Electrocyte, I also can't see images... but I see a lot of text output, and this is also informative!

`annotateRefSeqSequencesWithUniqueTaxonIDs.pl` complains about an unexpected node for one of the leaves - this bit of output here;
[code]

[2020-12-07 14:24] tim488 commented on #49
Alright, I will get back to you!

[2020-12-07 16:19] cheny19 commented on #33
I've got the same issue. I installed the boost library through conda, and configured MetaMaps using make.

[2020-12-18 06:15] J-I-P opened #53 "Mapping step spent very long time is normal?"
Hi, everyone
I used MetaMaps to mapping, and it spent a large time. My dataset is below:
reference: databases/miniSeq+H/DB.fa
query: two_reads.fasta
![image](https://user-images.githubusercontent.com/17896123/102678674-dc577480-41e4-11eb-8da3-61e6d42e7251.png)
maxmemory: 50
threads: 20
![image](https://user-images.githubusercontent.com/17896123/102678689-01e47e00-41e5-11eb-9a28-4876fbfd4638.png)
!

[2020-12-19 02:35] J-I-P commented on #53
Hi, I used MetaMaps to mapping, and it spent a large time. My dataset is below:
reference: databases/miniSeq+H/DB.fa
query: two_reads.fasta
![image](https://user-images.githubusercontent.com/17896123/102678674-dc577480-41e4-11eb-8da3-61e6d42e7251.png)
maxmemory: 50
threads: 20
![image](https://user-images.githubusercontent.com/17896123/102678689-01e47e00-41e5-11eb-9a28-4876fbfd4638.png)
![image](h

[2021-01-10 17:44] alexhbnr commented on #45
Same issue here. When I run `classify` against the database `miniSeq+H` using the following code

[code]

I get the same error message:
[code]

According to this [Stackoverflow post](https://stackoverflow.com/questions/33266944/attempt-to-access-an-unitialized-boostmatch-result-class), it seems that the error message is caused by [line 1390](https://github.com/DiltheyLab/MetaMaps/blob/98102e9e684e

[2021-01-15 01:53] hunglin59638 commented on #33
I've got the similar issue.

[code]

[2021-01-17 04:56] khoriba opened #54 "downloadRefSeq.pl fails"
Hi,

I'd like to make my database, but downloadRefSeq.pl does not go to the end. I used the following commands to download my purpose species from NCBI refseq database.

`downloadRefSeq.pl --targetBranches archaea,bacteria,fungi,protozoa,viral,plasmid --seqencesOutDirectory ./refseq --taxonomyOutDirectory ./taxonomy`

I get an error while dealing with that of bacteria.
Copy from just before the er

[2021-01-30 02:22] khoriba opened #55 "metamaps classify error"
Hi,

Metamaps classify doesn't work well.
The following error is output and dumped.

$ metamaps classify -t 5 --mappings ARs_draft_results --DB databases/miniSeq+H

DB = databases/miniSeq+H
Mappings = ARs_draft_results
Min. reads for 'U' = 10000
Threads = 5

metamaps: src/meta/fEM.h:402: std::map<std::__cxx11::basic_string<char>, long unsigned int> meta::getMappingStats(std::__cxx11::string): Asse

[2021-02-24 21:25] dportik commented on #29
Ran into the exact same issue. I installed boost (1.75.0) in a custom path did not create an `include/` folder. Running `./configure` resulted in errors. I copied the `boost/` folder into a manually created folder called `include/` and `./configure` completed without error.

[2021-03-02 11:05] dawnmy opened #56 "What is the miniSeq+H based on (when was the refseq genomes downloaded)?"
Thank you for such an amazing tool. I would like to know when was the miniSeq+H database (https://www.dropbox.com/s/6p9o42yufx2vkae/miniSeq%2BH.tar.gz?dl=0) built? Which version of RefSeq is it based on  (When was it downloaded)?

[2021-03-09 19:44] dportik commented on #51
I would also be interested in having a Kraken2 report output format, or a MetaPhlAn3 mpa output format. Having a common format would make methods comparison more feasible, though I understand it can take considerable effort to implement these features. Please consider adding these output options, if possible. Thanks!

[2021-03-16 14:57] kebarr commented on #44
i am experiencing the same issue. any suggestions as to how to resolve?

[2021-03-17 14:51] maguileraf opened #57 "Percentage identity and mapping quality question"
Hi, I ran meta maps with a percentage identity of 98 but looking at classification_results.EM I see entries that are below this percentage identity and I am not sure if I am interpreting the results right. Also, there is a mapping  quality value in this file but some are 1 and some are very low so could you go more in depth about what this mapping quality represents?

[2021-03-22 23:03] m-crown opened #58 "Error when using mapDirectly"
Hi,

When using the following command (FASTQ and outdir paths changed for brevity):

` ./metamaps mapDirectly --all -r databases/miniSeq+H/DB.fa -q /path/to/fastq -o /path/to/outdir --maxmemory 40 -t 10`

I received the following error upon what appears to have been successful completion of the command (but no files have been written):

`Index construction DONE, wrote 6 files.
metamaps: src/map/ma

[2021-03-25 23:34] dportik commented on #51
In case anyone is also interested in converting file formats, I wrote a script to do this. It uses the krona file (`EM.reads2Taxon.krona`) output from the `metamaps classify` module as the input, and outputs a kraken report file and metaphlan format file.

The script is called `Convert_metamaps-KRONA_to_kreport-mpa.py` and can be found in the [pb-metagenomics-scripts](https://github.com/PacificBio

[2021-04-07 16:32] tim488 commented on #49
@AlexanderDilthey  Hey, me again, sorry I got delayed somewhat. But now I had some time and hit some new problems. I changed line 223 in `annotateRefSeqSequencesWithUniqueTaxonIDs.pl` to

```unless(($thisNode_rank eq 'biotype') or ($thisNode_rank eq 'serogroup') or  ($thisNode_rank eq 'isolate') or ($thisNode_rank eq 'serotype') or ($thisNode_rank eq 'species') or ($thisNode_rank eq 'no rank') or

[2021-04-08 20:14] dportik opened #59 "Error downloading RefSeq - provide prebuilt db for RefSeq archaea, bacteria, fungi?"
Hello,
I have been trying to create a database based on RefSeq archaea, bacteria, and fungi using the command below:

[code]

I have encountered two issues so far. The first error occurred sporadically while unpacking `taxdump.tar.gz`. The error contained `tar: Unexpected EOF in archive`. I am running this on HPC and suspected it was due to file latency. I solved it by adding `sleep (20);` to line

[2021-04-18 04:18] dportik commented on #48
I'm having the same issue but using 24 threads:

[code]

[2021-05-03 14:13] tim488 commented on #59
@AlexanderDilthey

[2021-05-05 07:45] FabbriniMarco opened #60 "Error in multi-threading MetaMaps (installation issue?)"
Hi everyone and thank you for the time you'll spend reading this issue.

I successfully installed MetaMaps on my server machine as suggested in the INSTALL.txt document, every step of the pipeline is working (db construction, mapping and classification, but i can't run any metamaps command on multithread, resulting in extremely long processing times.
My machine of course allow for multithreading p

[2021-05-05 13:49] jorgefriaslopez commented on #4
Hi Alexander,
I am trying to run metamaps with a custom database and everything runs smoothly until I get to the classification step. I followed your recommendation and I did a 'make clean' 'make metamaps' but the error does not go away.
The command I am using is:
$ metamaps classify --mappings classification_results_sample0 --DB databases/strains/

And I get:

DB = databases/strains/
Mappings = c

[2021-05-12 12:41] FabbriniMarco commented on #44
Same error here

[2021-06-16 09:33] wchow commented on #59
I am bumping this as a prebuilt database for refseq would be excellent if available.

[2021-08-09 05:47] tpriest0 commented on #33
I also have the same issue here
`terminate called after throwing an instance of 'boost::wrapexceptstd::logic_error'
what(): Attempt to access an uninitialized boost::match_results<> class.
Aborted`

Why has this issue not been replied to yet? The original post was 18 months ago. Is there no more support for MetaMaps?

[2021-12-08 20:55] molbio7 commented on #51
@dportik
Thanks so much for the effort! much appreciated.
@AlexanderDilthey
Thanks for this great tool.

[2021-12-08 20:59] molbio7 commented on #57
Bumping this thread to get some advice on what has been asked here.

[2021-12-08 21:00] molbio7 opened #61 "percentage identity and coverage info - misclassification"
Hi @AlexanderDilthey,
We have been getting misclassifications for a lot of the reads and if we pull out those misclassified reads and blast it against ncbi, those reads give no hits but a taxonomy has been assigned against those reads when using metamaps.
Happy to send you a dataset if you wish to have a look please.

[2021-12-08 21:02] molbio7 commented on #59
I encountered a similar issue and has been unsuccessful so far in generating refseq database - prebuilt Refseq database would be very helpful to many users of Metamaps.

[2022-01-03 16:45] aditi48n opened #62 "Build reference database from GTDB"
Hello @AlexanderDilthey . I wanted to build my own reference database from GTDB. Would that be possible using the Perl script provided or is there a different way to do it?

Thanks.

[2022-01-21 18:25] aditi48n commented on #39
Hello,

I had this error too. @AlexanderDilthey could you please guide us on how to resolve the issue.

Thank you in advance.

[2022-02-09 15:39] dacheampong commented on #45
Any update or work around on this issue, have same problem at my end. thanks

[2022-03-24 10:04] anuradhawick commented on #56
@AlexanderDilthey I also have the same question. It would be amazing if you can share some information.

Thanks
Anuradha

[2022-03-24 14:12] ana-re opened #63 "Misclassification when close relatives are present"
Hi @AlexanderDilthey

We spotted an issue with misclassification, particularly within the Brucella genus. We generated FASTQ files containing simulated ONT reads for 4 Brucella species and analysed them with Metamaps using a genus-level database constructed from all of the available RefSeq genomes for all Brucella species.

The results looked great when Metamaps was ran on FASTQ files containing j

[2022-03-28 08:47] wangtao0000 opened #64 "Cannot open DB.fa for size determination"
Hi,
When i run the command "metamaps mapDirectly --all -r databases/miniSeq+H/DB.fa -q Multiple_lr_1.fastq -o classification_results", it has an error like this:
Cannot open databases/miniSeq+H/DB.fa for size determination.

Looking forward for your answer, thanks.

[2022-04-26 22:35] jflot opened #65 "Assertion failed: (abs(1 - f_sum) <= 1e-3 during classification step"
Hello,
I am trying to run MetaMaps to classify Nanopore reads that I know originate from a mix of four genomes. I built a custom database with these four (unpublished) genomes:

[code]
then
[code]

I did the mapping step:
[code]

but got an the following error message during the classification step:
[code]

It looks like none of my reads mapped on my reference genomes, but when I try mapping them

[2022-06-30 06:53] nsmro opened #66 "Presence of carrier return line endings in Perl utilities"
Hi,

Just to let you know that when I try to run any of the perl utilities provided with metamaps on a ubuntu system
This command:
[code]
will return
`/DBinfo.pl: /usr/bin/perl^M: bad interpreter: No such file or directory`
Because of CR characters.

[2022-07-06 10:20] jsonProgram opened #67 "Can a database be added via shared memory?"
Loading the database is slow...
Any ideas to speed up this step?
For example shared memory method

[2022-07-29 16:28] JanMoat commented on #41
I fixed the error by changing ftp to https in one line of downloadRefSeq.pl.
Original: `(my $assembly_path_FTP = $assembly_path_fullURL) =~ s/ftp:\/\/ftp.ncbi.nlm.nih.gov//g;`
New: `(my $assembly_path_FTP = $assembly_path_fullURL) =~ s/https:\/\/ftp.ncbi.nlm.nih.gov//g;`

[There's a similar known problem & fix with Kraken2](https://github.com/DerrickWood/kraken2/issues/508#issue-1020381669)

[2022-10-11 01:34] wangqi0000 opened #68 "Running problems of metamaps: Assertion `statsStream.is_open()' failed."
Hi everyone and thank you for the time you'll spend reading this issue.
There is a problem when running metamaps and I don't know how to solve it. The command, generated files, and errors are shown below.

**Command used:**
[code]

**Files generated using above command:**
![image](https://user-images.githubusercontent.com/85976600/194977518-9ef1802a-a2ef-4303-ad92-c5d03fc5ed2f.png)

**Error:**
met

[2022-11-11 08:36] dawnmy commented on #33
Same issue. Installed with Conda

[2022-11-11 14:48] dawnmy opened #69 "regex_search failed while running classify"
I ran metamaps on a custom database with more than 20k genomes. The map command was able to finish, but the classify gives the following error:

[code]

[2022-11-12 23:05] vmurigneu commented on #44
Same error here, metamaps v0.1

[2022-11-14 04:28] julianzaugg opened #70 "MetaMaps no longer supported?"
Hi @AlexanderDilthey. Can you confirm whether MetaMaps is no longer supported? Going by the number of and age of unresolved issues, I assume this is the case?